---
import type { HeaderProps } from '@types';
import { Image } from 'astro:assets';

const { logo, items, button } = Astro.props as HeaderProps;
---

<script>
  const header = document.querySelector<HTMLHeadingElement>('#header');

  const addBackgroundMenu = () => {
    if (document.body.scrollTop > 300 || document.documentElement.scrollTop > 300) {
      header?.classList.add('bg-black/30');
    } else {
      header?.classList.remove('bg-black/30');
    }
  };

  window?.addEventListener('scroll', addBackgroundMenu);
</script>

<header
  class="fixed top-0 left-0 w-full hidden md:flex items-center justify-between gap-5 py-5 px-10 z-20 transition"
  id="header"
>
  <Image {...logo.desktop} />
  <div class="flex items-center gap-7">
    <ul class="flex items-center gap-7">
      {
        items.map((item) => (
          <li>
            <a
              href={item.href}
              title={item.title}
              class="font-barlow text-base font-medium text-white hover:underline transition"
            >
              {item.label}
            </a>
          </li>
        ))
      }
    </ul>
    <a
      href={button.href}
      title={button.title}
      class="py-4 px-6 bg-white hover:bg-white/30 hover:text-white rounded-full font-frauces font-bold uppercase text-sm tracking-wide transition"
      >{button.label}</a
    >
  </div>
</header>
